{% extends "base_nav.html" %}
{% block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Descriptores</h5>
                </div>
                <div class="card-body">
                    <form id="desc-form" action="" method="post">
                        {% csrf_token %}
                        {{ descform|crispy }}
                        <div id="formset_wrapper">
                            {{ dateform|crispy }}
                        </div>
                        <button id="add-form" class="btn btn-primary btn-sm d-none d-sm-inline-block" type="button">+
                            Agregar</button>
                        <input type="submit" class="btn btn-primary btn-sm d-none d-sm-inline-block"
                            value="Generar Reporte">
                        <div id="emptyform_wrapper" style="display: none">
                            <div class='table'>
                                <table class='no_error'>
                                    {{ dateform.empty_form|crispy }}
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--<a class="btn btn-primary d-none d-sm-inline-block active" style="margin: 16px;" role="button" href="#"><i
                    class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Reporte</a>-->
        </div>
    </div>
</div>

<script>
    $('#add-form').click(function () {
        let total_form = $('#id_form-TOTAL_FORMS');
        let form_idx = total_form.val();

        $('#formset_wrapper').append($('#emptyform_wrapper').html().replace(/__prefix__/g, form_idx));
        total_form.val(parseInt(form_idx) + 1);
    });
</script>

{% endblock %}